.mech {
  /* Sheet Tabs */
  /* Items List */
  /* Attributes */
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Regular.otf");
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Italic.otf");
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Light.otf");
    font-weight: 300;
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-LightItalic.otf");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-BoldItalic.otf");
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-Black.otf");
    font-weight: 900;
}

@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat-BlackItalic.otf");
    font-style: italic;
    font-weight: 900;
}

@font-face {
    font-family: "Fate Core";
    src: url("fonts/Fate Core Font.ttf");
}

* {
    box-sizing: border-box;
}

.left-column {
    display: flex;
    flex-direction: column;
}

.sheet-grid {
    flex: 1;
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    height: 100%;
    
}

.col-1 {
    width: 33.33%;
}


[class*="col-"] {
    float: left;
    padding: 3px;
    border: 1px solid black;
}

.row {
    height: 91%;
    display: flex;
}

.row::after {
    content: "";
    clear: both;
    display: block;

}

.gray-bg {
    /*background: url("ui/rust.jpg") repeat;*/
    /*background-color: rgb(233, 233, 233);*/

}

.aspects {
    height: 100%;
}

.sheet-tabs {
    border: black;
    border-width: medium;
}

.section-header { /*for the black backedd headers above each category*/
    background-color: black;
    color: white;
    font-weight: bold;
    font-style: italic;
    font-size: x-large;
    text-align: left;
    font-family: "Montserrat";
    padding-left: 10px;
    text-transform: uppercase;

}

.aspects .property-container {
    margin-right: 0.3rem;
    margin-bottom: 0.6rem;
    
}

.vitals {
    height: 25%;
}

.vitals .property-container {
    margin-left: 0.3rem;
    margin-bottom: 0.6rem;
}

.stunts {
    height: 100%;
}

.skills {
    height: 100%;
}

.full-page {
    height: 100%;
}

.main-sheet { /**/
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content-box {
    padding: 2px;
    border: 2px solid black;
    flex: 1;
}

.mech .window-content {
  height: 100%;
  padding: 5px;
  overflow-y: hidden;
}
.mech .sheet-header {
  height: 100px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.mech .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.mech .sheet-header .header-fields {
  flex: 1;
  height: 100px;
}
.mech .sheet-header h1.charname {
  height: 30px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.mech .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.mech .resource {
  width: 50%;
  height: 40px;
  margin-top: 0px;
  float: left;
  text-align: center;
}
.mech .resource input {
  width: 100px;
  height: 28px;
}

.tabs {
  height: 40px;
  border-top: 3px solid #AAA;
  border-bottom: 3px solid #AAA;
}
.mech .tabs .item {
  line-height: 40px;
  font-weight: bold;
}
.mech .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
}
.sheet-body {
  overflow: hidden;
    border: black;
}
.mech .sheet-body .tab {
  height: 100%;
  overflow-y: auto;
}
.mech .editor,
.mech .editor-content {
  height: 100%;
}
.mech .item-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}
.mech .item-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}
.mech .item-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
}
.mech .item-list .item-name {
  margin: 0;
}
.mech .item-list .item-controls {
  flex: 0 0 36px;
}
.mech .attributes-header {
  padding: 5px;
  margin: 5px 0;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #AAA;
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
}
.mech .attributes-header .attribute-label {
  flex: 1.5;
}
.mech .attributes-header .attribute-control {
  flex: 0 0 20px;
}
.mech .attributes-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mech .attributes-list li > * {
  margin: 0 3px;
  height: 28px;
  line-height: 24px;
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #AAA;
}
.mech .attributes-list a.attribute-control {
  flex: 0 0 20px;
  text-align: center;
  line-height: 28px;
  border: none;
}
.mech.sheet.actor {
  min-width: 560px;
  min-height: 420px;
}
.mech.sheet.item {
  min-width: 460px;
  min-height: 400px;
}
